@using DistanceTracker.Models
@model LeaderboardViewModel

@{
	ViewData["Title"] = "TODO: Make this the leaderboard name";
	var BestEntry = Model.LeaderboardEntries.First();
	var SecondBestEntry = Model.LeaderboardEntries.FirstOrDefault(x => x.Rank == 2);
}

<style>
	body {
		background-image: url("/images/@(Model.Leaderboard.LevelName).bytes.png");
		background-repeat: no-repeat;
		background-size: cover;
		overflow:hidden;
	}
</style>

<div class="text-center" style="margin-left: 15px; margin-right: 15px;">
	
	<div style="margin-bottom: 50px; margin-top: 30px;" class="row">
		@*<div class="row">*@
				<div class="col-12">
					<h1 class="display-4 stroke">@Model.Leaderboard.LevelName</h1>
				</div>
				<div class="col-3">
					<h5 class="stroke">Leader</h5>
					<h2 class="stroke">@BestEntry.Player.Name</h2>
				</div>
				<div class="col-3">
					<h5 class="stroke">Record Age</h5>
					<h2 class="stroke">@Formatter.TimeAgoFromUnixTime(BestEntry.FirstSeenTimeUTC)</h2>
				</div>
				<div class="col-3">
					<h5 class="stroke">World Record</h5>
					<h2 class="stroke">@Formatter.TimeFromMs(BestEntry.Milliseconds)</h2>
				</div>
				<div class="col-3">
					<h5 class="stroke">World Record Gap</h5>
					<h2 class="stroke">@Formatter.TimeFromMs(SecondBestEntry.Milliseconds-BestEntry.Milliseconds)</h2>
				</div>
		@*</div>*@
	</div>
	<div class="divider"></div>
	<div class="row">
		<div class="col-6">
			<div class="row">
				@*<div style="margin-bottom: 50px; margin-top: 30px" class="col-12">
					<img src="~/images/@(Model.Leaderboard.LevelName).bytes.png"/>
				</div>*@
				<div class="col-6">
					<h4 class="text-left stroke">Recent Improvements</h4>
					<div class="custom-scrollbar box-shadow" style="height: 70vh;">
						<table class="table table-striped table-dark small sticky-headers custom-scrollbar" style="margin-bottom: 0px">
							<thead>
								<tr>
									<th>Player</th>
									<th>Rank</th>
									<th>Time</th>
									<th>When</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var entry in Model.RecentImprovements)
								{
									<tr>
										<td><a class="link" href="/Player?steamID=@entry.Player.SteamID">@entry.Player.Name</a></td>
										<td>@entry.NewRank ( <i class="fas fa-arrow-up fa-sm text-success"></i> @(entry.OldRank - entry.NewRank) )</td>
										<td>@Formatter.TimeFromMs(entry.NewMilliseconds) ( <i class="fas fa-arrow-up fa-sm text-success"></i> @Formatter.TimeFromMs(entry.OldMilliseconds-entry.NewMilliseconds) )</td>
										<td>@Formatter.TimeAgoFromUnixTime(entry.UpdatedTimeUTC)</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-6">
					<h4 class="text-left stroke">Recent First Sightings</h4>
					<div class="custom-scrollbar box-shadow" style="height: 70vh;">
						<table class="table table-striped table-dark small sticky-headers custom-scrollbar" style="margin-bottom: 0px">
							<thead>
								<tr>
									<th>Player</th>
									<th>Time</th>
									<th>When</th>
								</tr>
							</thead>
							<tbody>
								@foreach(var entry in Model.RecentFirstSightings)
								{
									<tr>
										<td><a class="link" href="/Player?steamID=@entry.Player.SteamID">@entry.Player.Name</a></td>
										<td>@Formatter.TimeFromMs(entry.Milliseconds)</td>
										<td>@Formatter.TimeAgoFromUnixTime(entry.FirstSeenTimeUTC)</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-6">
			<h4 class="text-left stroke">Level Leaderboard</h4>
			<div class="custom-scrollbar box-shadow" style="height: 70vh;">
				<table class="table table-striped table-dark sticky-headers custom-scrollbar">
					<thead>
						<tr>
							<th class="text-left">Rank</th>
							<th class="text-left">Player</th>
							<th>Points</th>
							<th>Rating</th>
							<th>Time</th>
							<th>Delta</th>
						</tr>
					</thead>
					<tbody>
						@foreach(var entry in Model.LeaderboardEntries)
						{
							<tr>
								<td class="text-left">@entry.Rank</td>
								<td class="text-left"><a class="link" href="/Player?steamID=@entry.Player.SteamID">@entry.Player.Name</a></td>
								<td>@entry.NoodlePoints.ToString("0")</td>
								<td>@entry.PlayerRating.ToString("0.00")</td>
								<td>@Formatter.TimeFromMs(entry.Milliseconds)</td>
								<td>+@Formatter.TimeFromMs(entry.Milliseconds-BestEntry.Milliseconds)</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
