@using DistanceTracker.Models
@model SiteStats

@{
	ViewData["Title"] = $"Home";
}

<div class="container">
	<div class="row" style="margin-top:30vh">
		<div class="col-6 offset-3 text-center">
			@*<img src="~/images/logo.png" class="img-fluid" />*@
			<img src="~/images/holdboost_text.svg" class="mb-5"/>
			<form class="form mb-4" action="/search" method="get">
				<div class="form-group" style="width:100%">
					<input type="text" class="form-control" name="q" placeholder="Enter player name">
				</div>
				<button type="submit" class="btn btn-outline-success">Search</button>
			</form>
			<div>Tracking <span class="font-weight-bold">@Model.ImprovementCount</span> improvements</div>
			<div>for <span class="font-weight-bold">@Model.PlayerCount</span> players</div>
			<div>across <span class="font-weight-bold">@Model.LeaderboardCount</span> leaderboards</div>
			<div>and <span class="font-weight-bold">@Model.LeaderboardEntryCount</span> leaderboard entries</div>
			<div>Last updated <span class="font-weight-bold">@Model.TimeAgoString</span></div>
			@if((ulong)DateTimeOffset.UtcNow.ToUnixTimeMilliseconds() - Model.UpdatedTimeUTC > 3600000)
			{
				<div class="text-warning">The scraper might be dead. Ping <span class="font-weight-bold">@@noodle_beard</span> in <a class="font-weight-bold" href="https://discord.gg/distance">#tools</a> to fix it</div>
			}
		</div>
	</div>
</div>
